*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
}
  .outer{
            display: flex;
            justify-content: center;
            width: 70vw;
            height: 20vh;
            background-color: aquamarine    ;
        }
.image
{
    background-image: url(./image/pexels-andrew-3178786.jpg);
    /* background-color: yellow; */
}
form{
width: 30vw;

}
